__pycache__/
*.py[cod]

*.rh
*.rm
*.roc-format-failed*

generated-docs/
.roc-pdf-tmp/
.DS_Store

tests/platform/.zig-cache/
tests/platform/zig-out/
tests/platform/targets/*/libhost.a
tests/platform/targets/*/libretention_host.a
